USE [master]
GO
/****** Object:  Database [ydckmwsn_csl]    Script Date: 2/28/2024 8:00:11 AM ******/
CREATE DATABASE [ydckmwsn_csl]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ydckmwsn_csl', FILENAME = N'C:\Program Files (x86)\Plesk\Databases\MSSQL\MSSQL14.MSSQLSERVER2017\MSSQL\DATA\ydckmwsn_csl.mdf' , SIZE = 8192KB , MAXSIZE = 1048576KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ydckmwsn_csl_log', FILENAME = N'C:\Program Files (x86)\Plesk\Databases\MSSQL\MSSQL14.MSSQLSERVER2017\MSSQL\DATA\ydckmwsn_csl_log.ldf' , SIZE = 8192KB , MAXSIZE = 102400KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ydckmwsn_csl].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ydckmwsn_csl]
GO
/****** Object:  User [ydckmwsn_cslus]    Script Date: 2/28/2024 8:00:12 AM ******/
CREATE USER [ydckmwsn_cslus] FOR LOGIN [ydckmwsn_cslus] WITH DEFAULT_SCHEMA=[ydckmwsn_cslus]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [ydckmwsn_cslus]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ydckmwsn_cslus]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ydckmwsn_cslus]
GO
/****** Object:  Schema [ydckmwsn_cslus]    Script Date: 2/28/2024 8:00:12 AM ******/
CREATE SCHEMA [ydckmwsn_cslus]
GO
/****** Object:  Table [dbo].[DANH_GIA]    Script Date: 2/28/2024 8:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_GIA](
	[MaDanhGia] [nchar](10) NOT NULL,
	[MaHD] [int] NULL,
	[MSSV] [nchar](10) NULL,
	[NoiDung] [ntext] NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK_DANH_GIA_1] PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIA_DETAILS]    Script Date: 2/28/2024 8:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIA_DETAILS](
	[MaDanhGia] [nchar](10) NOT NULL,
	[HangMuc] [int] NOT NULL,
	[MucDo] [int] NULL,
	[GhiChu] [ntext] NULL,
 CONSTRAINT [PK_DANHGIA_DETAILS] PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC,
	[HangMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOI_TAC]    Script Date: 2/28/2024 8:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOI_TAC](
	[ID_DoiTac] [int] IDENTITY(1,1) NOT NULL,
	[TenDoiTac] [nvarchar](100) NULL,
	[DaiDien] [nvarchar](50) NULL,
	[SDT] [nchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK_DOI_TAC] PRIMARY KEY CLUSTERED 
(
	[ID_DoiTac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANG_VIEN]    Script Date: 2/28/2024 8:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANG_VIEN](
	[MaGV] [nchar](10) NOT NULL,
	[HoTenLot] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[Khoa] [nchar](10) NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK_GIANG_VIEN] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANG_MUC]    Script Date: 2/28/2024 8:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANG_MUC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenHangMuc] [ntext] NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK_HANG_MUC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HD_DOITAC]    Script Date: 2/28/2024 8:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HD_DOITAC](
	[ID_DoiTac] [int] NOT NULL,
	[MaHD] [int] NOT NULL,
	[NoiDung] [ntext] NULL,
 CONSTRAINT [PK_DT_HOATDONG] PRIMARY KEY CLUSTERED 
(
	[ID_DoiTac] ASC,
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HD_GIANGVIEN]    Script Date: 2/28/2024 8:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HD_GIANGVIEN](
	[MaHD] [int] NOT NULL,
	[MaGV] [nchar](10) NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
 CONSTRAINT [PK_HD_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HD_SINHVIEN]    Script Date: 2/28/2024 8:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HD_SINHVIEN](
	[MaHD] [int] NOT NULL,
	[MSSV] [nchar](10) NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
	[GhiChu] [ntext] NULL,
 CONSTRAINT [PK_SV_HOATDONG] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HD_TAITRO]    Script Date: 2/28/2024 8:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HD_TAITRO](
	[ID_TaiTro] [int] NOT NULL,
	[MaHD] [int] NOT NULL,
	[NoiDung] [ntext] NULL,
 CONSTRAINT [PK_HD_TAITRO] PRIMARY KEY CLUSTERED 
(
	[ID_TaiTro] ASC,
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOAT_DONG]    Script Date: 2/28/2024 8:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOAT_DONG](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[TenHoatDong] [ntext] NULL,
	[Loai] [nvarchar](50) NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[Hide] [bit] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_HOAT_DONG] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 2/28/2024 8:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MaKhoa] [nchar](10) NOT NULL,
	[TenKhoa] [nvarchar](50) NULL,
	[SDT] [nchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[NgayThanhLap] [date] NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHU_TRACH]    Script Date: 2/28/2024 8:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHU_TRACH](
	[MaGV] [nchar](10) NOT NULL,
	[NamHoc] [nvarchar](50) NOT NULL,
	[GhiChu] [ntext] NULL,
 CONSTRAINT [PK_PHU_TRACH_1] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC,
	[NamHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINH_VIEN]    Script Date: 2/28/2024 8:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINH_VIEN](
	[MSSV] [nchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[Khoa] [nchar](10) NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK_SINH_VIEN] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_CHINH]    Script Date: 2/28/2024 8:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_CHINH](
	[ID_TaiChinh] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[UEF] [decimal](12, 0) NULL,
	[TaiTro] [decimal](12, 0) NULL,
	[Khac] [ntext] NULL,
	[TieuDe] [ntext] NULL,
	[CreatedDate] [datetime] NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK_TAI_CHINH] PRIMARY KEY CLUSTERED 
(
	[ID_TaiChinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_TRO]    Script Date: 2/28/2024 8:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_TRO](
	[ID_TaiTro] [int] IDENTITY(1,1) NOT NULL,
	[TenTaiTro] [nvarchar](100) NULL,
	[DaiDien] [nvarchar](50) NULL,
	[SDT] [nchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK_TAI_TRO] PRIMARY KEY CLUSTERED 
(
	[ID_TaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DANH_GIA]  WITH CHECK ADD  CONSTRAINT [FK_DANH_GIA_HOAT_DONG] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOAT_DONG] ([MaHD])
GO
ALTER TABLE [dbo].[DANH_GIA] CHECK CONSTRAINT [FK_DANH_GIA_HOAT_DONG]
GO
ALTER TABLE [dbo].[DANH_GIA]  WITH CHECK ADD  CONSTRAINT [FK_DANH_GIA_SINH_VIEN] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SINH_VIEN] ([MSSV])
GO
ALTER TABLE [dbo].[DANH_GIA] CHECK CONSTRAINT [FK_DANH_GIA_SINH_VIEN]
GO
ALTER TABLE [dbo].[DANHGIA_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_DETAILS_DANH_GIA] FOREIGN KEY([MaDanhGia])
REFERENCES [dbo].[DANH_GIA] ([MaDanhGia])
GO
ALTER TABLE [dbo].[DANHGIA_DETAILS] CHECK CONSTRAINT [FK_DANHGIA_DETAILS_DANH_GIA]
GO
ALTER TABLE [dbo].[DANHGIA_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_DETAILS_HANG_MUC] FOREIGN KEY([HangMuc])
REFERENCES [dbo].[HANG_MUC] ([ID])
GO
ALTER TABLE [dbo].[DANHGIA_DETAILS] CHECK CONSTRAINT [FK_DANHGIA_DETAILS_HANG_MUC]
GO
ALTER TABLE [dbo].[GIANG_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANG_VIEN_KHOA] FOREIGN KEY([Khoa])
REFERENCES [dbo].[KHOA] ([MaKhoa])
GO
ALTER TABLE [dbo].[GIANG_VIEN] CHECK CONSTRAINT [FK_GIANG_VIEN_KHOA]
GO
ALTER TABLE [dbo].[HD_DOITAC]  WITH CHECK ADD  CONSTRAINT [FK_DT_HOATDONG_DOI_TAC] FOREIGN KEY([ID_DoiTac])
REFERENCES [dbo].[DOI_TAC] ([ID_DoiTac])
GO
ALTER TABLE [dbo].[HD_DOITAC] CHECK CONSTRAINT [FK_DT_HOATDONG_DOI_TAC]
GO
ALTER TABLE [dbo].[HD_DOITAC]  WITH CHECK ADD  CONSTRAINT [FK_DT_HOATDONG_HOAT_DONG] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOAT_DONG] ([MaHD])
GO
ALTER TABLE [dbo].[HD_DOITAC] CHECK CONSTRAINT [FK_DT_HOATDONG_HOAT_DONG]
GO
ALTER TABLE [dbo].[HD_GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_HD_GIANGVIEN_GIANG_VIEN] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GIANG_VIEN] ([MaGV])
GO
ALTER TABLE [dbo].[HD_GIANGVIEN] CHECK CONSTRAINT [FK_HD_GIANGVIEN_GIANG_VIEN]
GO
ALTER TABLE [dbo].[HD_GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_HD_GIANGVIEN_HD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOAT_DONG] ([MaHD])
GO
ALTER TABLE [dbo].[HD_GIANGVIEN] CHECK CONSTRAINT [FK_HD_GIANGVIEN_HD]
GO
ALTER TABLE [dbo].[HD_SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SV_HOATDONG_HOAT_DONG] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOAT_DONG] ([MaHD])
GO
ALTER TABLE [dbo].[HD_SINHVIEN] CHECK CONSTRAINT [FK_SV_HOATDONG_HOAT_DONG]
GO
ALTER TABLE [dbo].[HD_SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SV_HOATDONG_SINH_VIEN] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SINH_VIEN] ([MSSV])
GO
ALTER TABLE [dbo].[HD_SINHVIEN] CHECK CONSTRAINT [FK_SV_HOATDONG_SINH_VIEN]
GO
ALTER TABLE [dbo].[HD_TAITRO]  WITH CHECK ADD  CONSTRAINT [FK_HD_TAITRO_HD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOAT_DONG] ([MaHD])
GO
ALTER TABLE [dbo].[HD_TAITRO] CHECK CONSTRAINT [FK_HD_TAITRO_HD]
GO
ALTER TABLE [dbo].[HD_TAITRO]  WITH CHECK ADD  CONSTRAINT [FK_HD_TAITRO_TAITRO] FOREIGN KEY([ID_TaiTro])
REFERENCES [dbo].[TAI_TRO] ([ID_TaiTro])
GO
ALTER TABLE [dbo].[HD_TAITRO] CHECK CONSTRAINT [FK_HD_TAITRO_TAITRO]
GO
ALTER TABLE [dbo].[PHU_TRACH]  WITH CHECK ADD  CONSTRAINT [FK_PHU_TRACH_GIANG_VIEN] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GIANG_VIEN] ([MaGV])
GO
ALTER TABLE [dbo].[PHU_TRACH] CHECK CONSTRAINT [FK_PHU_TRACH_GIANG_VIEN]
GO
ALTER TABLE [dbo].[SINH_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINH_VIEN_KHOA] FOREIGN KEY([Khoa])
REFERENCES [dbo].[KHOA] ([MaKhoa])
GO
ALTER TABLE [dbo].[SINH_VIEN] CHECK CONSTRAINT [FK_SINH_VIEN_KHOA]
GO
ALTER TABLE [dbo].[TAI_CHINH]  WITH CHECK ADD  CONSTRAINT [FK_TAI_CHINH_HOAT_DONG] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOAT_DONG] ([MaHD])
GO
ALTER TABLE [dbo].[TAI_CHINH] CHECK CONSTRAINT [FK_TAI_CHINH_HOAT_DONG]
GO
USE [master]
GO
